<p>nav works!</p>
<div class="nav_style">

    <button class="btn"(click)="navi('/home')">Home</button>
    <button class="btn"(click)="navi('/profile')">Profile</button>
    <button class="btn"(click)="navi('/sign')">sign</button>
    <button class="btn"(click)="navi('/reactiveForm')">reactiveform</button>
    
    <!-- <button></button> -->
</div>

<div>
    <!-- <h1>sign in</h1>
   <form>
        <input type="text" placeholder="name" required>
        <input type="text" name="password" placeholder="password" requried> -->
        <!-- <button (click)="login()">submit</button> -->
        





   <!-- </form>

</div> -->
