.nav_style{

// border: 1px solid blue;
padding: 1rem;
background-color: antiquewhite;

}

.btn{
margin: 10px;
    border-radius:5px;
    font-size:20px;
    border: none;
    outline: none;
    background-color: inherit;
      
}
